{% extends 'base.html.twig' %}

{% block content %}

<main class="home">
    <section>
        <div class="author-speech"> 
            <p>
                Mamie, c'est dans tes vieux pots qu'on a fait nos meilleures recettes et vécus nos meilleurs moments!
            </p>
        </div>
    </section>
    <div class="divider"></div>
    <section>
        <div class="recipe-wheel"> 
            <div>
                <i class="bi bi-patch-question-fill"></i>
                <h3>Recette roulette</h3>
            </div>  
            <a href="">{{randomRecipe.name}}</a>
        </div>
    </section>
    <div class="divider"></div>
    <section>
        <div class="recipe-newest">
            <div>
                <i class="bi bi-cloud-plus-fill"></i>
                <h3>Dernières recettes</h3>
            </div>
            <ul>
            {% for recipe in lastRecipes %}
                <li>{{recipe.name}} par <em>{{recipe.user.firstname}}</em><a href="{{path('recipe', {id : recipe.id})}}"><img src="https://img.icons8.com/ios-filled/30/000000/arrow.png"/></a></li>
            {% endfor %}
            </ul>
        </div>
    </section>
    <section>
        <div class="recipe-best">
            <div>
                <i class="bi bi-stars"></i>
                <h3>Derniers commentaires</h3>
            </div>
            <ul>
            {% for comment in lastComments %}
                <li>"{{comment.text}}" par <em>{{comment.user.firstname}}</em><a href="{{path('recipe', {id : comment.recipe.id})}}"><img src="https://img.icons8.com/ios-filled/30/000000/arrow.png"/></a></li>
            {% endfor %}

            </ul>
        </div>
    </section>
</main>
{% endblock %}

{# Comment #}
