{% extends 'base.html.twig' %}

{# {% block title %}Hello RecipeController!{% endblock %} #}

{% block content %}
<main class="recipe-show">
    <section class="recipe-presentation">
        <div class="recipe-picture">
        {% if recipe.picture %}
        <img src="{{ asset('uploads/' ~ recipe.picture) }}" width="300" alt="{{ recipe.name }}">
        {% else %}   
            {% if recipe.category.id == 9 %}
            <img src="{{ asset('assets/images/aperitif.jpg')}}" alt="">
            {% elseif recipe.category.id == 10 %}
            <img src="{{ asset('assets/images/entree.jpg')}}" alt="">
            {% elseif recipe.category.id == 11 %}
            <img src="{{ asset('assets/images/dessert.jpg')}}" alt="">
            {% elseif recipe.category.id == 12 %}
            <img src="{{ asset('assets/images/plat.jpg')}}" alt="">
            {% endif %}
        {% endif %}
        </div>
        <div class="recipe-title">
            <h1>{{recipe.name}}</h1>
            <h3><em>par {{recipe.user.firstname}}</em></h3>
        </div>

    </section>
    <section class="recipe-informations">
        <div class="informations-logo">
            <img src="https://img.icons8.com/ios-glyphs/50/000000/about.png"/>
        </div>
        <p>{{recipe.informations}}</p>
    </section>
    <section class="recipe">
        <div class="recipe-ingredients">
            <div class="ingredients-logo">
                <img src="https://img.icons8.com/ios-filled/50/000000/ingredients-for-cooking.png"/>
            </div>
            <ul>
            {% for ingredient in recipe.ingredient %}
                <li>
                    <input type="checkbox">
                    <label> {{ingredient.name}} : {{ingredient.quantity}} {{ingredient.measureUnit}}</label>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="recipe-steps">
            <div class="steps-logo">
                <img src="https://img.icons8.com/ios-filled/50/000000/kitchen.png"/>
            </div>
            <p>{{recipe.steps}}</p>
        </div>
    </section>
    <div class="divider"></div>
    <section class="recipe-comments">
    <form action="" method="POST" id="comment-form">
        <label for="commentaire">Laisser un commentaire :</label>
        <div class="form-content">
            <textarea form="comment-form" name="commentaire" id="" rows="2"></textarea>
            <input type="submit" value="Valider">
        </div>
    </form>
    {% for comment in recipe.comment|reverse %}
        <div class="recipe-single-comment">
            <p class="recipe-single-comment-author">{{comment.createdAt|date("d-M-Y H:i")}} {{comment.user.firstname}} : </p>
            <p class="recipe-single-comment-text">{{comment.text}}</p>
        </div>
    {% endfor %}
    </section>
</main>
{% endblock %}
